# Printing method in python

In [1]:
print("Hello, World!")
print(10)

Hello, World!
10

In [3]:
print("Age:",25 , "Name:", "Ali")

Age: 25 Name: Ali

In [5]:
age = 25
name = "Faizan"
print("Name:",name)
print("Age:",age)

Name: Faizan
Age: 25

# seperator

In [9]:
print("2026","14","01",sep="-")

2026-14-01

In [12]:
print("Hello", end= " ")
print("World!")

Hello World!

In [15]:
print("A","B","C", sep="-")

A-B-C

# f-string

In [17]:
name = "Faizan"
age = "19"
print("My name is",name,"and my age is",age)

My name is Faizan and my age is 19

In [19]:
name = "Faizan"
age = "19"
print(f"My name is {name} and my age is {age}")

My name is Faizan and my age is 19

# str.format

In [21]:
print("My name is {} and i am {} years old".format("Bob",25))

My name is Bob and i am 25 years old

# Escape Sequences

In [23]:
print("Hello\nWorld!")

Hello
World!

In [24]:
print("Name\tAge\tCity")
print("Ali\t18\tkarachi")

Name	Age	City
Ali	18	karachi

In [25]:
print("My name is %s and i am %d years old." %("charlie",28))

My name is charlie and i am 28 years old.