In [215]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [217]:
titanic = pd.read_csv(r"C:\Users\Administrator\Downloads\Datasets\Titanic-Dataset.csv")

In [219]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [221]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [223]:
titanic.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [225]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [227]:
titanic.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [229]:
titanic['Cabin'].nunique()

147

In [231]:
titanic.drop('Cabin', axis=1, inplace= True)

In [233]:
titanic.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN

In [235]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [237]:
titanic.dropna(inplace = True)

In [239]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Name         712 non-null    object
 4   Sex          712 non-null    object
 5   Age          712 non-null    float64
 6   SibSp        712 non-null    int64
 7   Parch        712 non-null    int64
 8   Ticket       712 non-null    object
 9   Fare         712 non-null    float64
 10  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 66.8+ KB

In [241]:
titanic['PassengerId'].nunique()

712

In [243]:
titanic.drop('PassengerId', axis=1, inplace= True)

In [245]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Name      712 non-null    object
 3   Sex       712 non-null    object
 4   Age       712 non-null    float64
 5   SibSp     712 non-null    int64
 6   Parch     712 non-null    int64
 7   Ticket    712 non-null    object
 8   Fare      712 non-null    float64
 9   Embarked  712 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 61.2+ KB

In [247]:
titanic['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [249]:
titanic['Name'].nunique()

712

In [251]:
titanic.drop('Name', axis=1, inplace= True)

In [253]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Ticket    712 non-null    object
 7   Fare      712 non-null    float64
 8   Embarked  712 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 55.6+ KB

In [255]:
titanic['Sex'].nunique()

2

In [257]:
titanic['Age'].unique()

array([22.  , 38.  , 26.  , 35.  , 54.  ,  2.  , 27.  , 14.  ,  4.  ,
       58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,  8.  ,
       19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  , 49.  ,
       29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  , 16.  ,
       25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  , 71.  ,
       37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 , 51.  ,
       55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  , 45.5 ,
       20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  , 60.  ,
       10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  , 70.  ,
       24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [259]:
titanic['SibSp'].unique()

array([1, 0, 3, 4, 2, 5], dtype=int64)

In [261]:
titanic['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [263]:
titanic['Ticket'].nunique()

541

In [265]:
titanic.drop('Ticket', axis=1, inplace= True)

In [267]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Fare      712 non-null    float64
 7   Embarked  712 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 50.1+ KB

In [269]:
titanic['Fare'].nunique()

219

In [271]:
titanic.drop('Fare', axis=1, inplace= True)

In [273]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Embarked  712 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.5+ KB

In [275]:
titanic['Embarked'].nunique()

3

In [277]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Embarked  712 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.5+ KB

In [279]:
titanic.duplicated().sum()

172

In [284]:
titanic[titanic.duplicated()]

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
51          0       3    male  21.0      0      0        S
91          0       3    male  20.0      0      0        S
112         0       3    male  22.0      0      0        S
115         0       3    male  21.0      0      0        S
131         0       3    male  20.0      0      0        S
..        ...     ...     ...   ...    ...    ...      ...
881         0       3    male  33.0      0      0        S
882         0       3  female  22.0      0      0        S
883         0       2    male  28.0      0      0        S
884         0       3    male  25.0      0      0        S
886         0       2    male  27.0      0      0        S

[172 rows x 7 columns]

## First Attempt

In [123]:
X = titanic.drop(['Survived', 'Sex', 'Embarked'], axis = 1)
y = titanic['Survived']

In [125]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [133]:
X_train

     Pclass   Age  SibSp  Parch
703       3  25.0      0      0
462       1  47.0      0      0
858       3  24.0      0      3
429       3  32.0      0      0
811       3  39.0      0      0
..      ...   ...    ...    ...
93        3  26.0      1      2
135       2  23.0      0      0
338       3  45.0      0      0
549       2   8.0      1      1
131       3  20.0      0      0

[534 rows x 4 columns]

model = LogisticRegression()
model.fit(X_train, y_train)

In [129]:
# Step 6: Making Predictions
y_pred = model.predict(X_test)

In [131]:
# Step 7: Evaluation
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the Logistic Regression model on Iris dataset:", accuracy)

Accuracy of the Logistic Regression model on Iris dataset: 0.6404494382022472

## Second Attempt

In [286]:
from sklearn.ensemble import RandomForestClassifier

In [288]:
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [290]:
# Step 7: Evaluation
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the Logistic Regression model on Iris dataset:", accuracy)

Accuracy of the Logistic Regression model on Iris dataset: 0.7865168539325843

## Third Attempt

In [150]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Embarked  712 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.5+ KB

In [154]:
# Label Encoding 'Genre' column
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
label_encoder = LabelEncoder()
titanic['Sex_Label'] = label_encoder.fit_transform(titanic['Sex'])
print("\nDataset After Label Encoding:")
titanic[['Sex', 'Sex_Label']]

Dataset After Label Encoding 'Genre':

        Sex  Sex_Label
0      male          1
1    female          0
2    female          0
3    female          0
4      male          1
..      ...        ...
885  female          0
886    male          1
887  female          0
889    male          1
890    male          1

[712 rows x 2 columns]

In [156]:
label_encoder = LabelEncoder()
titanic['Embarked_Label'] = label_encoder.fit_transform(titanic['Embarked'])
print("\nDataset After Label Encoding 'Embarked':")
titanic[['Embarked', 'Embarked_Label']]

Dataset After Label Encoding 'Embarked':

    Embarked  Embarked_Label
0          S               2
1          C               0
2          S               2
3          S               2
4          S               2
..       ...             ...
885        Q               1
886        S               2
887        S               2
889        C               0
890        Q               1

[712 rows x 2 columns]

In [158]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        712 non-null    int64
 1   Pclass          712 non-null    int64
 2   Sex             712 non-null    object
 3   Age             712 non-null    float64
 4   SibSp           712 non-null    int64
 5   Parch           712 non-null    int64
 6   Embarked        712 non-null    object
 7   Sex_Label       712 non-null    int32
 8   Embarked_Label  712 non-null    int32
dtypes: float64(1), int32(2), int64(4), object(2)
memory usage: 50.1+ KB

In [160]:
X = titanic.drop(['Survived', 'Sex', 'Embarked'], axis = 1)
y = titanic['Survived']

In [162]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [164]:
model_Logistic = LogisticRegression()
model_Logistic.fit(X_train, y_train)

LogisticRegression()

In [166]:
# Step 6: Making Predictions
y_pred = model_Logistic.predict(X_test)

In [168]:
# Step 7: Evaluation
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the Logistic Regression model on Iris dataset:", accuracy)

Accuracy of the Logistic Regression model on Iris dataset: 0.7921348314606742

## Fourth Attempt

In [293]:
classifier_label = RandomForestClassifier()
classifier_label.fit(X_train, y_train)
y_pred = classifier_label.predict(X_test)

In [295]:
# Step 7: Evaluation
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the Logistic Regression model on Iris dataset:", accuracy)

Accuracy of the Logistic Regression model on Iris dataset: 0.7696629213483146